{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% macro display_tasks(tasks) %}
<ul class="list-group col-12 mb-2">
  {% for task in tasks %}
  <li class="list-group-item"> 
    <div class="row justify-content-between">
      <div class="col-sm-6" style="border-radius: 5px;">
        {{ task.title }}
      </div>
      <div class='row col-3'>
        <div class="col-sm-4">
          {% if 'Not Started' in task.status or 'Complete' in task.status %}
          <form action="/start/{{ task.id }}">
            <button class="btn btn-outline-warning" style="border-radius: 5px;" type="submit" value="Submit">Start</button>
          </form>
          {% elif 'In Progress' in task.status %}
          <form action="/stop/{{ task.id }}">
            <button class="btn btn-outline-danger" style="border-radius: 5px;" type="submit" value="Submit">Stop</button>
          </form>
          {% endif %}
        </div>
        <div class="col-sm-2">
          {% if 'Not Started' in task.status or 'In Progress' in task.status%}
          <form action="/finish/{{ task.id }}">
            <button class="btn btn-outline-success" style="border-radius: 5px;" type="submit" value="Submit">Finish</button>
          </form>
          {% elif 'Complete' in task.status %}
          <form action="/delete/{{ task.id }}">
            <button class="btn btn-outline-secondary" style="border-radius: 5px;" type="submit" value="Submit">Delete</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endmacro %}

{% block content %}
  <div class="jumbotron jumbotron-fluid" style="border-radius: 5px;">
    <h1 class="display-4 ml-4">To-Do App</h1>
    <hr class="my-6 ml-4 mr-4">
    <p class="lead ml-4">Just another to-do app.</p>
  </div>

  <div>
    <form action="/add_new" method="post">
        <div class="input-group mb-3">
          <input type="text" id="new_task" name="new_task" class="form-control" required placeholder="New Task">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="newTaskButton" value="Submit">Add</button>
          </div>
        </div>
    </form>
  </div>

  <div class="row-8 mb-4">
    <h2><span class="badge bg-danger text-light text-center">Not Started</span></h2>
      {{ display_tasks(view_model.not_started_tasks) }}
  </div>

  <div class="row-8 mb-4">
    <h2><span class="badge bg-warning text-light text-center">In Progress</span></h2>
      {{ display_tasks(view_model.in_progress_tasks) }}
  </div>
      
  <div class="row-8 mb-4">
    <h2><span class="badge bg-success text-light text-center">Complete</span></h2>
      {{ display_tasks(view_model.complete_tasks) }}

    {% if view_model.more_than_5_complete_tasks %}
    <details>
      <summary class="badge bg-success text-light text-center mb-3 align-bottom">
        <h6><span>View All Complete Tasks</span></h6>
      </summary>
      {{ display_tasks(view_model.older_tasks) }}
    </details>
    {% endif %}
  </div>

{% endblock %}