{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron jumbotron-fluid" style="border-radius: 5px;">
    <h1 class="display-4 ml-4">To-Do App</h1>
    <hr class="my-6 ml-4 mr-4">
    <p class="lead ml-4">Just another to-do app.</p>
  </div>
  <div>
    <form action="/add_new" method="post">
        <div class="input-group mb-3">
          <input type="text" id="new_task" name="new_task" class="form-control" required placeholder="New Task" >
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="button" value="Submit">Add</button>
          </div>
        </div>
    </form>
  </div>
  <div class="row-12 mb-4">
    <div class="col-12 mb-3">
      <ul class="list-group list-group-horizontal col-4 mb-3">
        <div class="dropdown col-4">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tasks
          </button>
          <div class="dropdown-menu mb-3" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/view/all">All</a>
            <a class="dropdown-item" href="/view/todo">To Do</a>
            <a class="dropdown-item" href="/view/started">In Progress</a>
            <a class="dropdown-item" href="/view/complete">Done</a>
          </div>
        </div>
        {% if all %}
        <div class="dropdown col-4">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort By
          </button>
          <div class="dropdown-menu mb-3" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/sortby/todo">To Do -> Done</a>
            <a class="dropdown-item" href="/sortby/done">Done -> To Do</a>
          </div>
        </div>
        {% endif %}  
      </ul>
      <ul class="list-group mb-0">
        <ul class="list-group col-12 mb-2">
        {% for task in tasks %}
          {% if 'Not Started' in task.status %}
          <li class="list-group-item"> 
            <div class="row justify-content-between">
              <div class="col-sm-1 text-danger" style="border-radius: 5px;">To-Do</div>
              <div class="col-sm-6" style="border-radius: 5px;">{{ task.title }}</div>
              <div class="col-sm-2">
                <div class='row'>
                  <div class="col-8 col-sm-6">
                    <form action="/start/{{ task.id }}">
                      <button class="btn btn-outline-warning" style="border-radius: 5px;" type="submit" id="button" value="Submit">Start</button>
                    </form>
                  </div>
                  <div class="col-4 col-sm-6">
                    <form action="/finish/{{ task.id }}">
                      <button class="btn btn-outline-success" style="border-radius: 5px;" type="submit" id="button" value="Submit">Finish</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endif %}
          {% if 'In Progress' in task.status %}
          <li class="list-group-item"> 
            <div class="row justify-content-between">
              <div class="col-sm-1 text-warning" style="border-radius: 5px;">Pending</div>
              <div class="col-sm-6" style="border-radius: 5px;">{{ task.title }}</div>
              <div class="col-sm-2">
                <div class='row'>
                  <div class="col-8 col-sm-6">
                    <form action="/stop/{{ task.id }}">
                      <button class="btn btn-outline-danger" style="border-radius: 5px;" type="submit" id="button" value="Submit">Stop</button>
                    </form>
                  </div>
                  <div class="col-4 col-sm-6">
                    <form action="/finish/{{ task.id }}">
                      <button class="btn btn-outline-success" style="border-radius: 5px;" type="submit" id="button" value="Submit">Finish</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endif %}
          {% if 'Complete' in task.status %}
          <li class="list-group-item"> 
            <div class="row justify-content-between">
              <div class="col-sm-1 text-success" style="border-radius: 5px;">Done</div>
              <div class="col-sm-6" style="border-radius: 5px;">{{ task.title }}</div>
              <div class="col-sm-2">
                <div class='row'>
                  <div class="col-8 col-sm-6">
                    <form action="/start/{{ task.id }}">
                      <button class="btn btn-outline-warning" style="border-radius: 5px;" type="submit" id="button" value="Submit">Start</button>
                    </form>
                  </div>
                  <div class="col-4 col-sm-6">
                    <form action="/delete/{{ task.id }}">
                      <button class="btn btn-outline-secondary" style="border-radius: 5px;" type="submit" id="button" value="Submit">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </li>         
          {% endif %}
          {% endfor %}
        </ul>
      </ul>
    </div>
  </div>
{% endblock %}