{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron jumbotron-fluid" style="border-radius: 5px;">
    <h1 class="display-4 ml-4">To-Do App</h1>
    <hr class="my-6 ml-4 mr-4">
    <p class="lead ml-4">Just another to-do app.</p>
  </div>
  <div>
    <form action="/add_new" method="post">
        <div class="input-group mb-3">
          <input type="text" id="new_task" name="new_task" class="form-control" required placeholder="New Task" >
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="newTaskButton" value="Submit">Add</button>
          </div>
        </div>
    </form>
  </div>
  <div class="row-12 mb-4">
    <div class="col-12 mb-3">
      
      <ul class="list-group mb-0 col-12">
        <ul class="list-group col-3 mb-2">
          <h2><span class="badge bg-danger text-light text-center">Not Started</span></h2>
        </ul>
        <ul class="list-group col-12 mb-2">
        {% for task in view_model.not_started_tasks %}
        <li class="list-group-item"> 
          <div class="row justify-content-between">
            <div class="col-sm-6" style="border-radius: 5px;">{{ task.title }}</div>
            <div class="col-sm-2">
              <div class='row'>
                <div class="col-8 col-sm-6">
                  <form action="/start/{{ task.id }}">
                      <button class="btn btn-outline-warning" style="border-radius: 5px;" type="submit" value="Submit">Start</button>
                    </form>
                  </div>
                  <div class="col-4 col-sm-6">
                    <form action="/finish/{{ task.id }}">
                      <button class="btn btn-outline-success" style="border-radius: 5px;" type="submit" value="Submit">Finish</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>

        <ul class="list-group col-12 mb-2">
          <h2><span class="badge bg-warning text-light text-center">In Progress</span></h2>
        </ul>
        <ul class="list-group col-12 mb-2">
        {% for task in view_model.in_progress_tasks %}
        <li class="list-group-item"> 
          <div class="row justify-content-between">
            <div class="col-sm-6" style="border-radius: 5px;">{{ task.title }}</div>
            <div class="col-sm-2">
              <div class='row'>
                <div class="col-8 col-sm-6">
                  <form action="/stop/{{ task.id }}">
                    <button class="btn btn-outline-danger" style="border-radius: 5px;" type="submit" value="Submit">Stop</button>
                  </form>
                </div>
                <div class="col-4 col-sm-6">
                  <form action="/finish/{{ task.id }}">
                    <button class="btn btn-outline-success" style="border-radius: 5px;" type="submit" value="Submit">Finish</button>
                  </form>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>

        <ul class="list-group col-12 mb-2">
          <h2><span class="badge bg-success text-light text-center">Complete</span></h2>
        </ul>
        <ul class="list-group col-12 mb-2">
        {% for task in view_model.complete_tasks %}
        <li class="list-group-item"> 
          <div class="row justify-content-between">
            <div class="col-sm-6" style="border-radius: 5px;">{{ task.title }}</div>
            <div class="col-sm-2">
              <div class='row'>
                <div class="col-8 col-sm-6">
                  <form action="/start/{{ task.id }}">
                    <button class="btn btn-outline-warning" style="border-radius: 5px;" type="submit" value="Submit">Start</button>
                  </form>
                </div>
                <div class="col-4 col-sm-6">
                  <form action="/delete/{{ task.id }}">
                    <button class="btn btn-outline-secondary" style="border-radius: 5px;" type="submit" value="Submit">Delete</button>
                  </form>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>

      </ul>
    </div>
  </div>
{% endblock %}